@import "./base/_reset.sass"

body
    min-height: 100vh
    background: linear-gradient(180deg, #002947 0%, rgba(56,144,207,0.79) 100%)
    font-family: 'Ubuntu', sans-serif
    position: relative


@import "./_import.sass"