.main
    display: none
    color: white
    &--active
        display: block
    &__barIcon
        height: 34px
        width: 34px
        margin-top: 10px
        margin-left: 10px
        font-size: 32px
        color: white
        border: none
        background: transparent

        

